html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  position: relative;
  top: 20px;
  display: block;
  border: 5px solid white;
  margin: 0 auto;
}
#beta {
  position: relative;
  top: 40px;
  width: 400px;
  display: block;
  border: 5px solid white;
  margin: 0 auto;
}
#extention {
  position: relative;
  top: 60px;
  width: 400px;
  display: block;
  border: 5px solid white;
  margin: 0 auto;
}
a {
  color: white;
  text-decoration: underline;
  font-size: 14px;
  font-family: monospace;
}
