html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
  border: 5px solid white;
  margin: 0 auto;
}
div {
  color: white;
  padding: 10px;
  width: 200px;
  display: block;
  border: 5px solid white;
  margin: 0 auto;
}
