html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
canvas {
  display: block;
  border: 5px solid white;
  margin: 0 auto;
}
div, a {
  position: relative;
  top: 10px;
  width: 400px;
  display: block;
  border: 5px solid white;
  margin: 0 auto;
}
a {
  color: white;
  text-decoration: underline;
  font-size: 10px;
}
